nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  width: 370px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.322);
  border-radius: 17px;

  /* Ombres externes */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08),
    inset 0 0 20px rgba(255, 255, 255, 0.208); /* effet lumineux intérieur */

  /* Reflet léger en haut */
  background-image: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.15),
    transparent 70%
  );
  backdrop-filter: blur(4px);
}

.navbar-links {
  display: flex;
  gap: 10px;
}

.navbar-links a {
  padding: 0px 7px;
  border-radius: 20px;
  font-size: 1.6rem;
  color: #9577b9;
  text-align: center;
  white-space: nowrap;
}

.navbar-links a:hover {
  color: #7b6396;
}

.navbar-links a {
  position: relative;
}

.navbar-links a::after {
  content: attr(data-label);
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
  opacity: 0;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #9479b4;
  white-space: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.25);

  transition: opacity 0.25s ease, transform 0.25s ease;
  pointer-events: none;
}

/* Apparition au hover */
.navbar-links a:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}


.btn-contact {
  box-sizing: border-box;
  background: linear-gradient(360deg, #b18cdc 0%, #cdabf3 100%);
  padding: 7px;
  border-radius: 14px;
  font-size: 1.03rem;
  font-weight: 500;
  color: white;

  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.174));
}

@media screen and (width <= 430px) {
  nav {
    width: 330px;
  }
}

@media screen and (width <= 354px) {
  nav {
    width: 290px;
  }
}
