.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  line-height: 1;
  color: white;
}

.hero-subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.9rem;
  color: rgba(255, 255, 255, 0.916);
}

.hability-section {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.322);
  border-radius: 17px;

  /* Ombres externes */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08),
    inset 0 0 20px rgba(255, 255, 255, 0.208); /* effet lumineux intérieur */

  /* Reflet léger en haut */
  background-image: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.15),
    transparent 70%
  );
  margin-top: 30px;
  transition: all 0.3s;
}

.hability-section:hover {
  transform: translateY(3px);
}

.hability {
  text-align: center;
}

.hability > h2 {
  font-weight: 500;
  color: #9479b4;
  font-size: 1.17rem;
}

.hability > p {
  font-size: 2.7rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.871);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}

.hability-separator {
  width: 2px;
  height: 63px;
  background: rgba(175, 155, 198, 0.31);
}

.hability > p {
  font-size: 2.7rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.871);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  opacity: 0;
  transform: translateY(10px);
  animation: showNumber 1s forwards;
}

.hability:nth-child(1) > p {
  animation-delay: 0.3s;
}

.hability:nth-child(3) > p {
  animation-delay: 0.6s;
}

@keyframes showNumber {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-title,
.hero-subtitle {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 1s forwards;
}

.hero-title {
  animation-delay: 0.2s;
}

.hero-subtitle {
  animation-delay: 0.8s;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (width <= 800px) {
  h1 {
    font-size: 3rem;
    width: 90%;
  }

  .hero-subtitle {
    font-size: 1.1rem;
    width: 90%;
  }

  .hability > h2 {
    font-weight: 500;
    color: #a795bc;
    font-size: 1.1rem;
  }

  .hability > p {
    font-size: 2.3rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  }
}

@media screen and (width <= 367px) {
  h1 {
    font-size: 2.3rem;
    width: 80%;
  }

  .hero-subtitle {
    font-size: 1rem;
    width: 80%;
  }
}
