.skills-section {
  padding: 4rem 1.5rem;
}

.skills-container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  margin-top: 40px;
}

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.skills-title {
  color: white;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.skills-card {
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.322);
  border-radius: 17px;
  padding: 20px;
  margin-top: 10px;
  max-width: 380px;

  /* Ombres externes */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08),
    inset 0 0 20px rgba(255, 255, 255, 0.208); /* effet lumineux intérieur */

  /* Reflet léger en haut */
  background-image: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.15),
    transparent 70%
  );
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}


.skills-card h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
  font-weight: 700;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-badge {
  background-color: #ffffff36;
  padding: 0.4rem 0.75rem;
  font-size: 0.85rem;
  border-radius: 9999px;
  color: #a181c6;
}


@media screen and (width <= 1125px) {
  .skills-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (width <= 388px) {
  .skill {
    width: 190px;
  }
}
