.skills-section {
  padding: 4rem 1.5rem;
}

.skills-container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  margin-top: 40px;
}

.skills-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.skills-title {
  color: white;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.skills-first-row,
.skills-second-row {
  display: flex;
  flex-direction: column;
}

.skills-first-row h3,
.skills-second-row h3 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}

.skills-row {
  display: flex;
  gap: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8e78a9;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.55) 0%,
    rgba(227, 227, 227, 0.55) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.347);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 17px;

  padding: 0.5rem;
  cursor: pointer;
  width: 140px;
  transition: all 0.3s;
}

.skill:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.464) 0%,
    rgba(227, 227, 227, 0.386) 100%
  );
  transform: translateY(3px);
}

.skill-image {
  width: 74px;
}

.skill p {
  font-weight: 600;
  font-size: 1.05rem;
}

@media screen and (width <= 1125px) {
  .skills-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (width <= 388px) {
  .skill {
    width: 190px;
  }
}
