.skills-section {
  padding: 4rem 1.5rem;
}

.skills-container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  margin-top: 40px;
}

.skills-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.skills-title {
  color: white;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.skills-first-row,
.skills-second-row {
  display: flex;
  flex-direction: column;
}

.skills-first-row h3,
.skills-second-row h3 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}

.skills-row {
  display: flex;
  gap: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9479b4;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.322);
  border-radius: 17px;

  /* Ombres externes */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08),
    inset 0 0 20px rgba(255, 255, 255, 0.208); /* effet lumineux intérieur */

  /* Reflet léger en haut */
  background-image: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.15),
    transparent 70%
  );

  padding: 0.5rem;
  cursor: pointer;
  width: 140px;
  transition: all 0.3s ease;
}

.skill:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15),
    inset 0 0 25px rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
}

.skill-image {
  width: 74px;
  opacity: 0.88;
}

.skill p {
  font-weight: 600;
  font-size: 1.05rem;
}

@media screen and (width <= 1125px) {
  .skills-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (width <= 388px) {
  .skill {
    width: 190px;
  }
}
