@import "tailwindcss";

:root {
    --primary: #FF8B30;
    --secondary: #FFCC5E;
    --foreground: #3c2408;
    --background: linear-gradient(
      180deg,
      #FFCC5E 0%,
      #ffb347 45%,
      #FF892F 100%
    );
    --background-reverse: linear-gradient(
      0deg,
      #FFCC5E 0%,
      #ffb347 45%,
      #FF892F 100%
    );
    --light-gradient: linear-gradient(
      180deg,
      #ffffff 31.06%,
      #ffd375 150.59%
    );
    --shadow-soft: 0px 6px 8.4px rgba(0, 0, 0, 0.07);
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --background-image-background: var(--background);
    --background-image-background-reverse: var(--background-reverse);
    --color-foreground: var(--foreground);
    --background-image-light-gradient: var(--light-gradient);

    --shadow-soft: var(--shadow-soft);

    --font-baloo: var(--font-baloo-2);
}

body {
    background: var(--primary);
    color: var(--foreground);
    font-family: var(--font-baloo-2), sans-serif;
}

.text-gradient {
    @apply bg-light-gradient bg-clip-text text-transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(0 5px 8px rgba(255, 137, 47, 0.57));
}