@import "tailwindcss";

:root {
  --primary-color: #FF8B30;
  --foreground: #221504;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-baloo: var(--font-baloo-2);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-baloo-2), sans-serif;
}

.text-gradient {
  background: linear-gradient(
          180deg,
          #ffffff 31.06%,
          #ffd375 150.59%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  filter: drop-shadow(0 5px 8px rgba(255, 137, 47, 0.57));
}