.about-section {
  padding: 3rem 1.5rem;
}

.about-container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  margin-top: 40px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.about-content-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.about-text {
  text-align: center;
  font-size: 1.125rem;
  color: white;
  line-height: 1.75;
  margin-top: 20px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.132);
}

.image-wrapper {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  box-shadow: inset 0px 6px 12px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 2;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.9;
}

.about-cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.322);

  /* Ombres externes */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08),
    inset 0 0 20px rgba(255, 255, 255, 0.208); /* effet lumineux intérieur */

  /* Reflet léger en haut */
  background-image: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.15),
    transparent 70%
  );
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.about-second-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

@media screen and (width <= 1246px) {
  .about-information {
    padding: 20px;
  }
}

@media screen and (width <= 1027px) {
  .about-information {
    padding: 15px;
  }

  .about-second-part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-text {
    text-align: left;
    font-size: 1.125rem;
    color: white;
    line-height: 1.75;
    width: 80%;
  }
}
