@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: linear-gradient(138.76deg, #decaf5 15.22%, #b990ec 92.55%);
  background-attachment: scroll;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
